@media screen and (max-width: 768px) {
		.logo{
			text-align: center;
		}
		.footer{
			text-align: center;
		}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
		.logo{
			text-align: center;
		}
		.footer{
			text-align: center;
		}
}

